<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="server" sequenceNumber="19">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.equinox.osgi.runtime.feature.group" version="0.0.1.201409221907"/>
<unit id="org.eclipse.osgi.web.feature.group" version="1.0.0.201409221907"/>
<unit id="org.eclipse.osgi.web.source.feature.group" version="1.0.0.201409221907"/>
<repository location="http://p2.martenscs.net/equinox-runtime"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="framework.feature.group" version="3.0.1"/>
<unit id="framework.source.feature.group" version="3.0.1"/>
<repository location="http://p2.martenscs.net/karaf/framework/3.0.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="spring.feature.group" version="3.2.4.RELEASE"/>
<unit id="spring-dm.feature.group" version="1.2.1"/>
<unit id="spring-dm-web.feature.group" version="1.2.1"/>
<unit id="spring-web.feature.group" version="3.2.4.RELEASE"/>
<repository location="http://p2.martenscs.net/karaf/spring/3.0.1"/>
</location>
</locations>
<includeBundles>
<plugin id="org.eclipse.jetty.osgi.httpservice"/>
<plugin id="org.apache.aries.blueprint.api.source" version="1.0.0"/>
<plugin id="org.eclipse.jetty.jmx.source"/>
<plugin id="org.springframework.osgi.io"/>
<plugin id="org.apache.karaf.jaas.boot.source" version="3.0.1"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.apache.aries.proxy.api.source" version="1.0.0"/>
<plugin id="org.eclipse.jetty.continuation.source"/>
<plugin id="org.eclipse.jetty.jmx"/>
<plugin id="org.eclipse.jetty.monitor.source"/>
<plugin id="org.eclipse.jetty.nosql.source"/>
<plugin id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.apache.aries.util.source" version="1.1.0"/>
<plugin id="org.apache.karaf.jaas.config.source" version="3.0.1"/>
<plugin id="org.junit4"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.eclipse.jetty.websocket"/>
<plugin id="javax.annotation" version="1.1.0.v201108011116"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp.source"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.jetty.servlets"/>
<plugin id="org.apache.aries.blueprint.core.compatibility.source"/>
<plugin id="org.json"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="org.eclipse.jetty.util.source"/>
<plugin id="org.apache.aries.proxy.api" version="1.0.0"/>
<plugin id="org.eclipse.jetty.client"/>
<plugin id="org.apache.aries.util" version="1.1.0"/>
<plugin id="org.apache.karaf.shell.console" version="3.0.1"/>
<plugin id="org.eclipse.osgi" version="3.8.1.v20120830-144521"/>
<plugin id="org.slf4j.log4j" version="1.7.2.v20121108-1250"/>
<plugin id="javax.activation"/>
<plugin id="javax.mail"/>
<plugin id="org.springframework.osgi.extender"/>
<plugin id="org.eclipse.jetty.client.source"/>
<plugin id="jline" version="2.11.0"/>
<plugin id="javax.security.auth.message"/>
<plugin id="org.eclipse.jetty.deploy.source"/>
<plugin id="org.eclipse.jetty.plus.source"/>
<plugin id="org.eclipse.jetty.osgi.boot"/>
<plugin id="org.eclipse.jetty.nested.source"/>
<plugin id="org.apache.aries.blueprint.core.source" version="1.4.0"/>
<plugin id="org.slf4j.jcl" version="1.7.2.v20121108-1250"/>
<plugin id="org.eclipse.jetty.ajp"/>
<plugin id="org.eclipse.equinox.http.registry.source"/>
<plugin id="org.eclipse.jetty.osgi.httpservice.source"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.eclipse.jetty.plus"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.springframework.expression"/>
<plugin id="jline.source" version="2.11"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jetty.server.source"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="org.eclipse.jetty.io.source"/>
<plugin id="javax.servlet.jsp.jstl"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.springframework.osgi.core"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.jetty.policy"/>
<plugin id="javax.el"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.apache.karaf.jaas.config" version="3.0.1"/>
<plugin id="org.eclipse.jetty.xml"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.osgi.services" version="3.3.100.v20120522-1822"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.apache.aries.blueprint.core" version="1.4.0"/>
<plugin id="org.eclipse.jetty.deploy"/>
<plugin id="org.springframework.context"/>
<plugin id="org.eclipse.jetty.websocket.source"/>
<plugin id="org.springframework.beans"/>
<plugin id="org.eclipse.jetty.rewrite"/>
<plugin id="org.apache.jasper.glassfish"/>
<plugin id="org.apache.jasper.glassfish.source"/>
<plugin id="javax.transaction"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl.source"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.fusesource.jansi" version="1.11"/>
<plugin id="org.springframework.aop"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.jetty.servlets.source"/>
<plugin id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<plugin id="javax.validation"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.jetty.osgi.boot.source"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl"/>
<plugin id="org.eclipse.jetty.jndi"/>
<plugin id="org.eclipse.jetty.annotations"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.jetty.monitor"/>
<plugin id="org.eclipse.jetty.jndi.source"/>
<plugin id="org.springframework.core"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp"/>
<plugin id="javax.servlet" version="3.0.0.v201112011016"/>
<plugin id="org.eclipse.jetty.xml.source"/>
<plugin id="org.apache.servicemix.bundles.aopalliance"/>
<plugin id="org.fusesource.jansi.source" version="1.11"/>
<plugin id="org.apache.servicemix.bundles.cglib"/>
<plugin id="org.springframework.web.servlet"/>
<plugin id="org.apache.karaf.jaas.modules" version="3.0.1"/>
<plugin id="org.junit"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.ops4j.pax.logging.pax-logging-api" version="1.7.2"/>
<plugin id="org.apache.felix.configadmin.source" version="1.6.0"/>
<plugin id="org.eclipse.jetty.jaspi"/>
<plugin id="org.eclipse.jetty.webapp"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="org.apache.aries.blueprint.core.compatibility"/>
<plugin id="org.eclipse.jetty.ajp.source"/>
<plugin id="org.springframework.context.support"/>
<plugin id="org.eclipse.jetty.servlet.source"/>
<plugin id="org.apache.taglibs.standard.glassfish"/>
<plugin id="org.eclipse.jetty.jaspi.source"/>
<plugin id="jetty.home.bundle"/>
<plugin id="org.apache.aries.quiesce.api"/>
<plugin id="org.eclipse.jetty.webapp.source"/>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="org.apache.taglibs.standard.glassfish.source"/>
<plugin id="org.slf4j.jul"/>
<plugin id="org.eclipse.jetty.security.source"/>
<plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<plugin id="org.apache.aries.blueprint.api" version="1.0.0"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="com.google.gson"/>
<plugin id="org.eclipse.jetty.rewrite.source"/>
<plugin id="org.apache.karaf.shell.console.source" version="3.0.1"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.apache.karaf.jaas.modules.source" version="3.0.1"/>
<plugin id="org.eclipse.jetty.annotations.source"/>
<plugin id="org.apache.felix.fileinstall.source" version="3.2.8"/>
<plugin id="org.springframework.osgi.web"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.springframework.web"/>
<plugin id="org.eclipse.jetty.nested"/>
<plugin id="org.eclipse.jetty.http.source"/>
<plugin id="org.springframework.osgi.extensions.annotations"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.apache.karaf.jaas.boot" version="3.0.1"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="javax.inject"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="com.google.guava"/>
<plugin id="org.apache.felix.configadmin" version="1.6.0"/>
<plugin id="org.apache.felix.fileinstall" version="3.2.8"/>
<plugin id="org.apache.aries.quiesce.api.source"/>
<plugin id="org.objectweb.asm"/>
</includeBundles>
</target>
